services:
  mongo:
    image: mongo:8
    # container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
  test-api:
    build: .
    depends_on:
      - mongo
    ports:
      - "8080:8080"
volumes:
  mongodata:
