apiVersion: apps/v1

kind: Deployment

metadata:
  name: test-api-deployment
  labels:
    app: test-api

spec:
  template:
    metadata:
      name: test-api
      labels:
        app: test-api
    spec:
      containers:
        - name: test-api
          image: tadeuaugusto/test-api
          env:
            - name: SPRING_DATA_MONGODB_URI
              value: mongodb://database-service:27017/mydb
            - name: SPRING_DATA_MONGODB_HOST
              value: database-service
            - name: SPRING_DATA_MONGODB_PORT
              value: "27017"
            - name: SPRING_DATA_MONGODB_DATABASE
              value: mydb

  replicas: 5
  selector:
    matchLabels:
      app: test-api